version: "3"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      environment:
      - BLOB_CONN=${BLOB_CONN}
      - COSMOS_URI=${COSMOS_URI}
      - COSMOS_KEY=${COSMOS_KEY}


  frontend:
    image: nginx
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend
